<div ng-app='dashboardApp' ng-controller="DashboardCtrl">
  <div id="control-messages">
    <p>{{controlMessage}}</p>
  </div

  <div class="columns">
    <div class="left-column">
      <img src="/assets/mgs-logo.png" id="mgs-logo">

      <!-- put news stuff here... -->
    </div>
    <div class="centre-column">
      <div id="round-container">
        <h1>
          {{minutes | fixedLen: 2}}:{{seconds | fixedLen:2}}
        </h1>

        <h1>Turn {{round}}</h1>
        <h2 class="paused" ng-if="paused">(Paused)</h2>
      </div>

      <div class="terror-tracker" ng-style="colorFromTerror(terror)">
        <h1>GLOBAL PANIC</h1>
        <div class="terror-value">
          {{terror}}
        </div>
      </div>
    </div> <!-- center column -->
    <div class="right-column">
      <div id="riot-top"></div>
      <img id="riot-image" src="/assets/riot.png" height="113" width="74"/>
      <div id="rioters-container">
        <h3>Global Unrest Index</h3>
        <p>{{rioters}}</p>

        <div id="rioters-count">
          <span ng-repeat="a in range(rioters) | filterCount">
            <img src="/assets/riotcount.png" height="46" width="30"/>
          </span>
          <span ng-if="9<rioters" class="additional-rioters">+</span>
        </div>
      </div>
    </div> <!-- right column -->
  </div>
</div>
